.wrap{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:rgba(0,0,0,0.2)
}
.content{
    position: absolute;
    width: 400px;
    height: 400px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin:auto;
    background-color: white;
}